.band-section {
  padding: 15px 0;
  background: $red-cf;

  @include media('>=tablet') {
    padding: 45px 0;
  }

  .section-heading {
    text-transform: none;
    position: relative;
    z-index: 1;
    
    @include media('>=tablet') {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  h2 {
    margin: 0 0 30px;
    text-transform: none;

    @include media('>=tablet') {
      margin: 0;
    }
  }
}

