.lightbox-section {
  padding: 60px 0 50px;

  .container {
    max-width: 998px;
  }

  .section-heading {
    margin-bottom: 73px;
  }
}

.column-img {
  max-width: 215px;
  margin: 0 auto 20px;
}

